@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

/*
 * This is the only way to universally hide the scrollbar 
 * while keeping the overflow and scrolling functionality.
 */

#slide::-webkit-scrollbar {
  display: none;
}

#slide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
