@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";
@theme {
  --font-show: "Playfair Display SC", serif;
  --font-gork: "Space Grotesk", sans-serif;
}
/* body {
  background-color: cyan;
  padding: 50px;
} */

#slide::-webkit-scrollbar {
  display: none;
}
#slide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* height: 50vh; */
}
